    html {font-family: Arial; display: inline-block; text-align: center;}
        h1 {  font-size: 2rem;}
        body {  
            margin: 0;
            background-color: #E8F3FC; 
        }

    /* Khung màn hình chính  */
    .dashboard-home-screen {
        background-color: #E8F3FC;
        display: flex;
        flex-direction: row;
        padding: 28px 23px 28px 28px;
        width: 2000px;
        box-sizing: border-box;
    }
    /*Khung bên trái chứa thông tin user*/
    .dashboard-home-screen .side-bar-left {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background: #ffffff;
        position: relative;
        margin-right: 54px;
        margin-top: 10px;
        width: 280px;
        height: 650px;
        overflow: hidden;
    }
    /*khung bên phải chứa thông tin của member*/
    .dashboard-home-screen .side-bar-right {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background: #ff0000;
        position: relative;
        margin-right: 300px;
        margin-top: 10px;
        width: 280px;
        height: 650px;
        overflow: hidden;
    }
    /*hình ảnh user*/
    .dashboard-home-screen .sidebar-image {
        width: 30%; /* Adjust this to control the image size */
        height: auto; /* Maintain aspect ratio */
        margin-top: 15px;
        margin-left: -120px;
        margin-right: 20px;
    }

    /*chữ trong khung side bar*/
    .dashboard-home-screen .text {
        position: relative;
        bottom: 20px;
        left: 20px;
        color: #000000;
        margin-top: -45px;
        text-align: left;
        margin-left: 70px;
    }

    .dashboard-home-screen .Text1 {
        margin: 0px;
        font-size: 24px;
        font-weight: bold; 
        margin-bottom: 5px;
    }
    
    .dashboard-home-screen .Text2 {
        margin: 0;
        font-size: 18px; /* Font size for message */
    }
    /* Khung chua content va member */
    .dashboard-home-screen .main-screen{
        margin: 28px 0 29px 0;
        display: flex;
        flex-direction: row;
        width: 1900px;
        height: fit-content;
        box-sizing: border-box;
        
    }
    /* Khung chua tat ca cac bieu do va thiet bi */
    .dashboard-home-screen .content{
        margin: 45px 38px 276px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1060px;
        box-sizing: border-box;
        
    }

    /* Khung chua sensor cua nhi */
    .dashboard-home-screen .upper-content{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        width: 300x;
        box-sizing: border-box;
        
    }

    /* Khung chua cac thiet bi o duoi */
    .dashboard-home-screen .lower-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        box-sizing: border-box;
    }

    /* Khung chua hai bieu do humid va temperature */
    .dashboard-home-screen .upper-chart-container{
        display: flex;
        flex-direction: row;
        width: 705px;
        height: 100px;
        justify-content: space-between;
        box-sizing: border-box;    
    }

    /* Bien do humidity */
    .dashboard-home-screen .upper-chart-humidity{
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); 
        padding-bottom: 20px;
        width: 320px; 
        height: 220px;
        border-radius: 20px;
        margin: 20px 0;
        color: #639aff;
        margin-top: -15px;
    }

    /* bieu do temperature */
    .dashboard-home-screen .upper-chart-temperature{
        background-color: rgb(255, 255, 255); 
        box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); 
        padding-bottom: 20px;
        width: 320px; 
        height: 220px;
        border-radius: 20px;
        margin: 20px 0;
        color: #B10F2E;
        margin-top: -15px;
    }
    /*chữ thể hiện thời gian đọc cảm biến*/
    .dashboard-home-screen .timestamp { 
        color: #bebebe; 
        font-size: 1rem;
        margin-top: -10px;
    }
    /*chữ trên cảm biến*/
    .dashboard-home-screen .card-title{ 
        font-size: 23px; 
        font-weight : bold;
        margin-top: 15px;
    }
    .dashboard-home-screen .reading { 
        font-size: 1.8rem;
        margin-left: 50px;
      }
    /********************** Device container **********************/
    /* khung chua cac thiet bi o ben duoi */
    .dashboard-home-screen .lower-device-container{
        display: flex;
        padding: 0px 20px 0px 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 685px;
        box-sizing: border-box;
        margin-left: -300px;
    }
    /* Container chứa title LEVELS */
    .dashboard-home-screen .upper-title-container{
        margin: 0 7.5px 12px 0;
        display: flex;
        position: left;
        flex-direction: column;
        justify-content: space-between;
        width: 1060px;
        box-sizing: border-box;
    }

    /* Container chua title DEVICES */
    .dashboard-home-screen .lower-title-container{
        margin: 0 7.5px 12px 0;
        display: flex;
        position: left;
        flex-direction: column;
        justify-content: space-between;
        width: 1060px;
        box-sizing: border-box;
    }

    /* style của chữ DEVICES */
    .dashboard-home-screen .lower-title-font{
        margin-top: 105px;
        width: 80px;
        position: relative;
        overflow-wrap: break-word;
        font-family: 'Chivo';
        font-weight: 400;
        font-size: 24px;
        color: #2B2B2B;
    }
    /* style của chữ LEVELS */
    .dashboard-home-screen .upper-title-font{
        margin-top: -40px;
        width: 70px;
        position: relative;
        overflow-wrap: break-word;
        font-family: 'Chivo';
        font-weight: 400;
        font-size: 24px;
        color: #2B2B2B;
    }
    /*Khung chứa thông tin các thiết bị */
    .dashboard-home-screen .devices {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 200px;
        height: 150px;
        box-sizing: border-box;
        margin-left: -57px;
    }
    /*tên thiết bị*/
    .dashboard-home-screen .device-name {
        color: rgb(0, 0, 0);
        padding-top: 6px;
        font-size: 18Px;
        height: 29px;
        width: 180px;
        border: none;
        cursor: pointer;
        margin-right: 100px;
    }

    .dashboard-home-screen .LED-name {
        color: rgb(0, 0, 0);
        padding-top: 65px;
        font-size: 18Px;
        height: 29px;
        width: 180px;
        border: none;
        cursor: pointer;
        margin-right: 100px;
    }

    /* Trạng thái ON/OFF của các device */
    .dashboard-home-screen .device-title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        color: #5C5C5C;
        top: 10px;
        padding: 10px; /* Thêm padding để tạo khoảng cách từ mép */
        font-size: 18px; 
    }

    .dashboard-home-screen .device-image {
        margin-right: 100px; /* Space between the image and the text */
        margin-top: 30px;
    }
    .dashboard-home-screen .led-image {
        margin-right: 100px; /* Space between the image and the text */
        margin-top: -5px;
    }
    .dashboard-home-screen .toggle-container{
        margin-top: -210px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 170px;
        box-sizing: border-box;
    }
    /***********************************************************/

    /********************** nút toggle *************************/
    /* Nút nhấn đảo trạng thái */
    .toggle-container .toggle {
        position: relative;
        top: 30px;
        width: 40px;
        height: 18px;
        background: #9a9999;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.5s;
        margin-left: 130px;
    }

    .toggle .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    transform: scale(0.8);
    transition: 0.5s;
    }

    .toggle.active .indicator {
    left: 21.5px;
    }

    .devices.active {
    background-color:#d7e7ff;
    }

    .toggle.active {
    background-color: #3E7EF7;
    } 
    /**********************************************************************/

    /******************************** LED *********************************/

    .dashboard-home-screen .device-status-container{
        border-radius: 12px;

        position: relative;
        /* margin: 0 70px 16px 0; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 12px 10px; */
        width: 230px;
        height: 180px;
        box-sizing: border-box;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: 35px;
        width: 180px;
    }

    .dropdown-button {
        margin-left: 70px;
        margin-top: 93px;
        padding: 4px;
        font-size: 20px;
        height: 30px;
        width: 110px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    .dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 180px;
    height: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    }

    .room {
        width: 180px;
        height: 30px;
        justify-content: center;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        background-color: white;
        border: none;
        
    }

    .dropdown:hover .dropdown-content{
    display: flex;
    }

    .dropdown:hover .dropdown-button{
    background-color: #3C80F7;
    }

    .dropdown-content .room:hover {background-color: #b3b3b3;}

    .button-mode-container{
    position: relative;
    display: flex;
    width: 180px;
    height: 30px;
    }

    #light-container,
    #status-container {
    margin-top: 1px;
    display: none;
    }
    .light {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: url("light_off.jpg");
    background-size: 50px;
    }
    .on {
    background-image: url("light_on.jpg");
    }
    .status-container {
    margin-top: 20px;
    }
    .status {
    display: inline-block;
    font-size: 20px;
    margin: 0px 10px;
    }
    /****************************** DOOR **********************************/



    /**********************************************************************/


    /**********************************************************************/
    /* Thêm các line break nằm dọc */
    .dashboard-home-screen .line-break-vertical{
        background: #0504043b;
        margin-right: -300px;
        position: static;
        width: 1px;
        height: 650px;
    }

    /* Side bar bên phải để hiển thị danh sách các thành viên */
    .dashboard-home-screen .member-side-bar{
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 265px;
        box-sizing: border-box;
    }

    /* Container chứa các element biểu hiện danh sách thành viên */
    .dashboard-home-screen .member-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    box-sizing: border-box;
    }

    /* Container biểu thi title của danh sách */
    .dashboard-home-screen .member-title-container{
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 265px;
    box-sizing: border-box;
    }

    .dashboard-home-screen .member{
    margin-right: 12px;
    width: 180px;
    overflow-wrap: break-word;
    font-family: 'Chivo';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    }

    .dashboard-home-screen .view-all{
    overflow-wrap: break-word;
    font-family: 'Chivo';
    font-weight: 400;
    font-size: 20px;
    color: #3C80F7;
    }

    /* Khung màu trắng đằng sau Danh sách các thành viên */
    .dashboard-home-screen .member-card{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background: #FFFFFF;
    position: relative;
    margin-right: 1px;
    width: 264px;
    height: 352px;
    }

    /* container chứa các thành viên */
    .dashboard-home-screen .member-frame{
    position: absolute;
    left: 24px;
    top: 32px;
    right: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    }